.Boxbutton{
    
    margin: 10px 10px 0px 10px;
    
}
.Btn-cadastro{
    margin: 10px 10px 20px 10px;
    

}
.Boxbutton > button{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    text-shadow: black 1px 1px;
    color: #fff;
    font-weight: 600;
    background-color: transparent;
    font-size: 16px;
}
.Boxbutton > button:hover{
    cursor: pointer;
    background-color: #0c5742;
}
.prescricao-medicamento{
    width: 20%;
    display:flex;
    flex-direction: row;
}
.prescricao-medicamento> button:hover{
    cursor: pointer;
    background-color: #0c574248;
}

