.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modalContent {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
  }
  
.receita{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;
    border: solid 1px #034632;
    box-shadow: 4px 1px 10px 2px #03463238;
}
.receituario{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px black solid;
    /*boder:solid 2px black;*/
    margin: 7px;
    padding: 7px;
}
.dPessoais{
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: 1px black solid;
    font-size: 11px;
}
.dPessoais h4{
    text-align: center;
    font-size: 14px;
}
.prescricao{
    margin-left: 7px;
    margin-right: 7px;
    font-size: 11px;
}
.prescricao h4{
    text-align: center;
    font-size: 14px;
}

.medQtd{
    display: flex;
    justify-content: space-between;
}
.subSection{
    margin-top: 7px;
    border-bottom: 1px rgba(0, 0, 0, 0.075) solid;

}
.dataCity{
    display: flex;
    justify-content: end;
    margin: 10% 0 10% 0;
}

.assinatura{  
    width: 50%;
    margin: auto;
    border-top: 1px black solid;
    text-align: center;
}
.btn{
    background-color: rgba(3, 122, 53, 0.315);
    border-radius: 4px;
    padding:2px 5px 2px 5px;
    border:1px rgba(3, 122, 53, 0.486) solid;
    margin-bottom: 7px;;
}



/* src/components/Card.module.css */
    /*font-family: "Roboto", sans-serif;
  */
  .body {
    display:inherit;
    background-color: rgba(0, 0, 0, 0.096);
  }
  .subBody {
    width: 300px;
    background-color: #fff;
    border-radius: 7px;
  }
  
  .header {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 7px;
    padding: 7px;
  }
  .section {
    margin-left: 7px;
    margin-right: 7px;
    border-bottom: 1px solid black;
    font-size: 0.5em;
    }
.section h4{
    text-align: center;
    font-size: 1.5em;
  }
  .medQtd {
    display: flex;
    justify-content: space-between;
  }
  .subSection {
    margin-top: 7px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
  }
  .dataCity {
    display: flex;
    justify-content: end;
    margin: 10% 0;
  }
  .prescricao {
    border-bottom: none;
  }
  .assinatura {
    width: 50%;
    margin: auto;
    border-top: 1px solid black;
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  /*button {
    background-color: rgba(3, 122, 53, 0.315);
    border-radius: 4px;
    padding: 2px 5px;
    border: 1px solid rgba(3, 122, 53, 0.486);
  }
  span {
    font-weight: 500;
}
*/
  
  
  .modalActions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btnClose {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  .btnEdit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  