.boxRegistra{
    
        position: fixed;
        top: 0;
        left: 0;
        width:100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
}
.modalContent {
    background: #fff;
    padding:20px 20px 20px 20px;
    border-radius: 8px;
    max-width: 30vw;
    width: 100%;
    max-height: 90vh;
    
  }
  
.receita{
    background-color:rgb(255, 240, 25);
    border-radius: 7px;
    padding: 7px;
    border: solid 1px #034632;
    box-shadow: 4px 1px 10px 2px #03463238;
} 
.receita .titulo{
    /*margin-top: 7px;*/
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
.receita .subTitulo{
    margin-top: 7px;
    text-align: center;
    font-size: 12px;
    font-weight: 600; 

}     
/*.receita {
        position: absolute;
        background: #f7d3d3;
        padding: 20px;
        border-radius: 8px;
        max-width: 60%;
        width: 30vw;
        z-index: 20;
}*/
.formSelect{
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.testandoEstilo {
    border-radius: 5px;
    background-color: rgb(0, 255, 55);
}

.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-colorPrimary .MuiInputBase-fullWidth .MuiInputBase-formControl .MuiInputBase-adornedEnd .MuiAutocomplete-inputRoot .css-154xyx0-MuiInputBase-root-MuiOutlinedInput-rootMuiAutocomplete-root .MuiOutlinedInput-root{
    padding: 0px;
}

/*
.testandoEstilo .MuiOutlinedInput-root {
    border-radius: 5px;
    padding: 5px;
}

.testandoEstilo .MuiOutlinedInput-input {
    font-size: 16px;
}

.testandoEstilo .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    padding: 0;
}

.customAutocomplete .MuiOutlinedInput-root {
    background-color: #c91e1e; /* Substitua pela cor desejada 
    border-radius: 5px;
}
*/